@import "colors.scss";

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.App-header {
  background-color: $primaryColor;
  display: flex;
  height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
  margin-bottom: 10px;
}

.App-body {
  background-color: $lightGray;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Meli-Logo {
  margin: 1rem;
  width: 3rem;
}