$nitSize: 12px;
$tinySize: 14px;
$tinySize_2: 16px;
$smallSize: 18px;
$mediumSize: 24px;
$mediumSize_2: 28px;
$bigSize: 46px;
$fontFamilies: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;