@import "fonts.scss";
@import "spaces.scss";
@import "colors.scss";

.Full-Item-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75vw;
  height: 100%;
}

.Description {
  display: flex;
  background-color: $white;
}

.Top {
  display: flex;
  flex-direction: row;
}

.Bottom {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.Full-Image {
  display: flex;
  justify-content: center;
  width: 70%;

  .Product-Image {
    width: 150px;
    height: auto;
  }
}

.Full-Data {
  display: flex;
  flex-direction: column;
}

.Full-Item-Description {
  font-size: 10px;
  color: #A0A0A0;
  text-align: justify;
}

.Bottom-Left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Bottom-Right {
  display: flex;
  width: 30%;
}

.Item-Name {
  margin-top: $sep16;
  width: 10rem;
  font-weight: 600;
  text-align: left;
  font-size: $mediumSize;
}

.Item-Price {
  margin-top: $sep16;
  width: auto;
  flex-direction: row;
  font-weight: 500;
  text-align: justify;
  font-size: $bigSize;
  line-height: 40px;

  .Decimals {
    font-size: $mediumSize;
    vertical-align: text-top;
  }

}

.Item-Condition {
  margin-top: $sep16;
  width: 12rem;
  font-weight: 400;
  text-align: justify;
  font-size: $tinySize;
}

.Item-Buy-Button {
  border-style: none;
  background-color: $blue;
  margin-top: $sep32;
  font-size: $smallSize;
  color: $white;
  padding: $sep12;
  border-radius: 4px;
}
