@import "colors.scss";
@import "fonts.scss";

.Search-Container {
  display: flex;
  background-color: $lightGray;
  width: 70vw;
}

.Search-Input {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 10px;
  border-style: none;
  font-size: $smallSize;
}

.Search-Icon {
  width: 2rem;
  align-self: center;
  margin: 5px;
  width: 20px;
  height: 20px;
}

.Search-Button {
  border-style: none;
  cursor: pointer;
}